{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    {% block css %}{% endblock %}
    <script src="{% static "js/jquery.min.js" %}"></script>
    {% block js %}{% endblock %}

    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">xx系统</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">首页</a></li>
                <li class="">
                    {% if user %}
                        <a>用户：{{ user }}</a>
                        <li class=""><a href="/account/logout">注销</a> </li>
                    {% else%}
                        <a href="/account/login">登录</a>
                        <li class=""><a href="/account/register">注册</a> </li>
                    {% endif %}
                </li>


            </ul>

            <ul class="nav navbar-nav navbar-right hidden-sm">
                <li><a href="/admin/">后台管理</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container">


{% block main %}

{% endblock %}
</div>
<script src="{% static "js/bootstrap.min.js" %}"></script>
{#<script src="{% static "js/autosize.min.js" %}"></script>#}
{% block bottomjs %}{% endblock %}
  </body>
</html>